{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>auth</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
</head>

<body>
<header>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">auth</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'auth:profile' user.id %}">{{ user.username }}</a></li>
                    <li><a href="{% url 'auth:create' %}">Create</a></li>
                    <li><a href="{% url 'auth:users' %}">Table</a></li>
                    <li><a href="{% url 'auth:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'auth:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

{% block content %}
{% endblock content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

</body>
</html>