{% extends 'authApp/base.html' %}

{% block body_header %}
    <nav>
        <div class="nav-wrapper">
            <a href="{% url 'auth:index' %}" class="brand-logo center">Auth</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'auth:detail' %}">{{ user.username }}</a></li>
                    <li><a href="{% url 'auth:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'auth:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock body_header %}